<header class="bg-gray-900 text-white p-6">
  <nav class="container mx-auto flex items-center justify-between">
    <a
      routerLink="/"
      class="text-2xl font-bold hover:text-blue-400 transition duration-300"
    >
      Jaspreet Ghai
    </a>
    <ul class="flex space-x-6">
      <li>
        <a
          routerLink="/"
          routerLinkActive="text-blue-400"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-lg hover:text-blue-400 transition duration-300"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/projects"
          routerLinkActive="text-blue-400"
          class="text-lg hover:text-blue-400 transition duration-300"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
</header>
